@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font: 400 15px Lato;
	color: #303030;
	line-height: 1.5;
}

h1 {

}

h4 {
	color: #106844;
}

.bg-green {
	background-color: #b0ca3b;
}

.container-fluid-padding {
    padding: 60px 50px 50px 50px;
 }

.navbar {
	background-color: #870052;
	border: none;
}

.navbar li a, .navbar-brand{
	color: #FFF !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #870052 !important;
  background-color: #fff !important;
}

.navbar-toggle {
	border: none;
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: #FFF !important;
}

.icon-bar {
	background-color: #FFF !important;
}

.navbar-toggle:hover > .icon-bar,  .navbar-toggle:focus > .icon-bar{
	background-color: #870052 !important;
}

footer {
	background-color: #222;
	color: #FFF;
}

form {
	width: 50%;
	padding: 8px 12px;
	border-radius: 0px;
	border-width: 0px;
	color: rgb(119, 119, 119);
	border-color: rgb(231, 231, 231);
	box-shadow: none;
	outline: none;
}

#searchText, #searchButton {
	background-color: #870052;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF;
	color: #FFF;
	box-shadow: none;
	font-size: 14pt;
	border-radius: 0px;
}

#searchButton {
	border: none;
}
.mesh-padding {
	padding: 60px 0px 0px 0px;
}

.text-box {
  background-color: #b0ca3b;
  padding: 1em 1.3em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 6px;
}