@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font: 400 15px Lato;
	color: #303030;
	line-height: 1.5;
}

h1 {
}

h4 {
	color: #106844;
	margin-bottom: 0px;
}

.bg-green {
	background-color: #b0ca3b;
}

.container-fluid {
    padding: 60px 50px 50px 50px;
 }

.navbar {
	background-color: #870052;
	border: none;
}

.navbar li a, .navbar-brand{
	color: #FFF !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #870052 !important;
  background-color: #fff !important;
}

footer {
	background-color: #222;
	color: #FFF;
}