@import url(https://fonts.googleapis.com/css?family=Lato);
html, body, .container-fluid, .row, #visualization {
    height: 100%;
}

body {
	font: 400 15px Lato;
	color: #303030;
	line-height: 1.5;
}

h4 {
  margin-top: 0px;
	color: #106844;
}

.bg-green {
	background-color: #b0ca3b;
}

.container-fluid-padding {
    padding: 60px 50px 50px 50px;
 }

.mesh-padding {
	padding-top: 52px;
}

/* NAVIGATION */
.navbar {
	background-color: #870052;
	border: none;
}

.navbar li a, .navbar-brand{
	color: #FFF !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #870052 !important;
  background-color: #fff !important;
}

.navbar-toggle {
	border: none;
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: #FFF !important;
}

.icon-bar {
	background-color: #FFF !important;
}

.navbar-toggle:hover > .icon-bar,  .navbar-toggle:focus > .icon-bar{
	background-color: #870052 !important;
}

form {
	width: 50%;
	padding: 8px 12px;
	border-radius: 0px;
	border-width: 0px;
	color: rgb(119, 119, 119);
	border-color: rgb(231, 231, 231);
	box-shadow: none;
	outline: none;
}

#searchText, #searchButton {
	background-color: #870052;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF;
	color: #FFF;
	box-shadow: none;
	font-size: 12pt;
	border-radius: 0px;
}

#searchButton {
	border: none;
}

/* VISUALIZATION */
#visualization {
	padding: 10px;
}

.node text {
  font: 15px Lato;
  paint-order: stroke;
  stroke: #FFF;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: grey;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* RIGHT PANEL */
#right-panel {
  position: absolute;
  z-index: 1;
  right: 0;
  overflow: hidden;
}

#minimize-btn {
  padding: 0px 5px;
  margin-bottom : 2px;
  border: 0;
}

.glyphcon-minus {
  margin: 0;
}

.text-box {
  background-color: #b0ca3b;
  padding: 1em 1.3em;
  margin-bottom: 1em;
  border-radius: 6px;
  word-wrap: break-word;
}
